{% extends 'base.html.twig' %}

{% block title %}{{project.title}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 900px; width: 100%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class='container4'>
    <div class='Showdisc'>

        <div  class="example-wrapper">
        
            <div class='topdisc'>
                <h2>{{project.title}}</h2>
                <a class="button btn" href="{{ path('project_show', {'id': project.id}) }}">Retour</a>
            </div>
            <div id ="up">
                <div id='chat'>
                    {% for chatMessages in chatMessage %}
                    {# Message de l'utilisateur connecté #}
                    {% if app.user == chatMessages.user %}
                    <div class="row chatMessage ">  
                        <div class='chatPicture'>
                        {% if chatMessages.user.getProfilPicture %}
                            <img src='/uploads/profilPicture/{{ chatMessages.user.profilPicture }}' class="profilPic">
                        {% else %}
                            <img src='/img/profil.png' class="profilPic">
                        {% endif %}
                        </div>
                        <div class="float-right float">
                        <p> {{chatMessages.messageContent}}</p>
                        </div>
                        <div class='chatPicture'>
                        <b>{{chatMessages.sendingDate|date("d/m/Y H:i")}}</b>
                        </div>
                    </div>  
                    {# Message des autres utilisateurs #}
                    {% else %}
                    <div class="row  chatMessage2 ">
                        <div class='chatPicture'>
                        {% if chatMessages.user.getProfilPicture %}
                            <img src='/uploads/profilPicture/{{ chatMessages.user.profilPicture }}' class="profilPic">
                        {% else %}
                            <img src='/img/profil.png' class="profilPic">
                        {% endif %}
                        </div>
                        <div class="float-left float">
                        <p>{{chatMessages.messageContent}} </p>
                        </div>
                        <b>{{chatMessages.sendingDate|date("d/m/Y H:i")}}</b>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
    
            {# Formulaire d'envoi de message #}
            <div class='discussion'>
                
                <div>
                    <form id="form" class="container row"> 
                        <input id="chatMessage" class="input-group-text col-sm-9" placeholder="Message" type="textarea" />
                        <input id="discussionID" value='{{app.request.get('disc_id')}}' class="input-group-text col-sm-9"  type="hidden" />
                        <input id="projectID" value='{{app.request.get('id')}}' class="input-group-text col-sm-9"  type="hidden" />
                        <button id="submit" class="btn btn-success col-sm-3" type="submit" onClick={handleMessage(event)}>Envoyer</button>     
                    </form>
                </div>

            </div>  
            
        </div>
    </div>
</div>   
{% endblock %}
{% block javascripts %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>

    let chatDiv = document.getElementById("chat");
    let form = document.getElementById('form');
    const submit = document.querySelector('.btn');

    console.log(window.location)
    function handleMessage(event){
        event.preventDefault();
        console.log(event);

        const message = document.getElementById('chatMessage');

        const data = {
            'content': message.value,
            'discussion': discussionID.value   
        }
        console.log(data);

        fetch('/message', {
            method: 'POST',
            body: JSON.stringify(data)
        }).then((response) => {
            chatMessage.value = '';
            updateChat()
        });
        console.log(chatMessage.value)
        chatDiv.append(Object.assign(document.createElement("p"),{classList:"float-right", innerText: chatMessage.value}))
        
    }
    function updateChat(){
        $( "#up" ).load(window.location.href + " #chat" );

    }
    setInterval(function(){
        $( "#up" ).load(window.location.href + " #chat" );
    }, 5000)

   
    submit.addEventListener("onClick",(event)=>handleMessage(event))

</script>

{% endblock %}