{% extends 'base.html.twig' %}

{% block title %}Hello DiscussionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class='container4'>
    <div  class="example-wrapper">
    <h1>Hello {{ app.user.firstName }} ! ✅</h1>
    <h2>{{project.title}}</h2>
    <div id ="up">
        <div id='chat'>
        {% for chatMessages in chatMessage %}
        {% if app.user == chatMessages.user %}
        <div class="row chatMessage float-right">  
            <b>{{chatMessages.user.firstName}} : </b>
            <p> {{chatMessages.messageContent}}</p>
            <b>{{chatMessages.sendingDate|date("d M Y")}}</b>
        </div>  
        {% else %}
        <div class="row  chatMessage float-left">
            <b>{{chatMessages.user.firstName}} : </b>
            <p>{{chatMessages.messageContent}} </p>
            <b>{{chatMessages.sendingDate|date("d M Y H:i:s")}}</b>
        </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
  
    
    <div class='discussion'>
        {% for discussion in project.getDiscussion %}
            <tr>
                                
            <td>{{ discussion.getChatMessages }}</td>
            <div  id=id class="container bg-light h-75 overflow-auto">
                {% for chatMessage in chatMessages %}
                    {% if app.user == chatMessage.user %}
                        <div class="row w-75 float-right">
                            <b>{{ chatMessage.user.firstName }}</b>
                            <p class="alert alert-info w-100">
                                {{ chatMessage.messageContent }}
                            </p>
                        </div>
                    {% else %}
                        <div class="row w-75 float-left">
                            <b>{{ ChatMessage.user.firstName }}</b>
                            <p class="alert alert-success w-100">
                                {{ chatMessage.messageContent }}
                            </p>
                        </div>
                    {% endif %}

                    <p>{{discussion.id}}</p>
                {% endfor %}
            </div>
                                
            </tr>
            
        {% endfor %}
        <div>
            <form id="form" class="container row"> 
                <input id="chatMessage" class="input-group-text col-sm-9" placeholder="Message" type="textarea" />
                <input id="discussionID" value='{{app.request.get('disc_id')}}' class="input-group-text col-sm-9"  type="hidden" />
                <input id="projectID" value='{{app.request.get('id')}}' class="input-group-text col-sm-9"  type="hidden" />
                <button id="submit" class="btn btn-success col-sm-3" type="submit" onClick={handleMessage(event)}>Envoyer</button>
                
            </form>
        </div>
        <a class="button button-primary" href="{{ path('project_show', {'id': project.id}) }}">Retour</a>
        
            
       
    </div>  
        
    </div>
</div>   
{% endblock %}
{% block javascripts %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>

    let chatDiv = document.getElementById("chat");
    let form = document.getElementById('form');
    const submit = document.querySelector('.btn');

    console.log(window.location)
    function handleMessage(event){
        event.preventDefault();
        console.log(event);

        const message = document.getElementById('chatMessage');

        const data = {
            'content': message.value,
            'discussion': discussionID.value   
        }
        console.log(data);

        fetch('/message', {
            method: 'POST',
            body: JSON.stringify(data)
        }).then((response) => {
            chatMessage.value = '';
            updateChat()
        });
        console.log(chatMessage.value)
        chatDiv.append(Object.assign(document.createElement("p"),{classList:"float-right", innerText: chatMessage.value}))
        
    }
    function updateChat(){
        $( "#up" ).load(window.location.href + " #chat" );

    }
    setInterval(function(){
        $( "#up" ).load(window.location.href + " #chat" );
    }, 4000)

   
    submit.addEventListener("onClick",(event)=>handleMessage(event))

</script>

{% endblock %}