{% extends 'base.html.twig' %}

{% block title %}Voyage, Voyage - {{app.user.firstName}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class='homepage'>
    <div class='accueil'>
        
        <h2>Bonjour {{ app.user.firstName }}  </h2>
    </div>
    <div class='activProject '>
        <div class='titres'>
            <h2>Vos Projets</h2>
            <a href="{{ path('project_add') }}">Créer un nouveau projet</a>
            {#<a href="{{ path('projects') }}">Voir vos Projets</a>#}

        </div>
        {# affichage des projets en cours #}
        <div class="userProject">
    
            {% for project in app.user.projects %}
                {% if project.getDateOut > date('Now')%}
                <div class="projectCard">
                    <h3>{{project.getTitle}}</h3>
                    <p>{{project.getDescription}}</p>
                    <p>{{project.getDateIn|date("d/m/Y")}}</p>
                    <p>{{project.getDateOut|date("d/m/Y")}}</p>
                    <a href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class='oldProject'>
            <div class='titres'>
                <h2> Vos anciens projets </h2>
            </div>

        {# affichage des projets terminés #}
        <div class="userProject UP2">
    
            {% for project in app.user.projects %}
                {% if project.getDateOut < date('Now')%}
                <div class="projectCard">
                    <h3>{{project.getTitle}}</h3>
                    <p>{{project.getDescription}}</p>
                    <p>{{project.getDateIn|date("d/m/Y")}}</p>
                    <p>{{project.getDateOut|date("d/m/Y")}}</p>
                    <a href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>    
    </div>
    
 </div>   
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/js/vanilla-tilt.js"></script>
<script>
    VanillaTilt.init(document.querySelector(""), {
		max: 15,
		speed: 100,
        glare : true,
        "max-glare": 1,
	});
</script>
{% endblock %}