{% extends 'base.html.twig' %}

{% block title %}Modification de Projet{% endblock %}

{% block body %}
<div class='container4'>
  <div class='projectCard '>
    <h1>Modifier le projet</h1>

    <form action="/project/save/{{projectId}}" method="POST">
      <div class="row">
        <div class="logdiv">
          <label for="title">Titre</label>
          <input class="u-full-width input" type="text" id="title" name="title" value="{{project.getTitle}}">
        </div>
      </div>
      <div class="row">
        <div class="logdiv">
          <label for="description">Description</label>
          <input class="u-full-width input" type="text" id="description" name="description" value="{{project.getDescription}}">
        </div>
      </div>
      <div class="row">
        <div class="logdiv">
          <label for="date_in">Date de début</label>
          <input class="u-full-width input" type="date" id="date_in" name="date_in" placeholder="jj/mm/aaaa" value="{{project.getDateIn|date("d/m/Y")}}">
        </div>
      </div>
      <div class="row">
        <div class="logdiv">
          <label for="date_out">Date de fin</label>
          <input class="u-full-width input" type="date" id="date_out" name="date_out" placeholder="jj/mm/aaaa" value="{{project.getDateOut|date("d/m/Y")}}">
          
        </div>
      </div>
      
      <div class="logdivbtn">
        <input class="button greenBtn" type="submit" value="Sauvegarder">
        <a href="{{ path('project_delete', {"id":project.id})}}"  class="button  redBtn">Supprimer</a>
        <a class="button btnCancel" href="{{ path('project_show', {'id': project.id}) }}">Retour</a>
      </div>
    </form>

    
  </div>
</div>    
{% endblock %}
