{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ app.user.firstName }} ! ✅</h1>
    
        <div class="row">
            <div class="column">
                <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Date</th>
                            <th>Montant</th>
                            <th>Crediteur</th>
                            <th>Debiteurs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for expense in expenses %}
                        <tr>
                            
                            <td>{{ expense.getTitle }}</td>
                            <td>{{ expense.getDate|date("d-M-Y") }}</td>
                            <td>{{ expense.getAmount }}</td>
                            <td>{{ expense.getUser }}</td>
                            <td>{{ expense.getDebiteur}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
           
        </div>
        <a class="button button-primary" href="{{ path('project_show', {'id': project.id}) }}">Cancel</a>
      
    </form>
    <a class="button button-primary" href="{{ path('projects_addExpense', {'id': project.id}) }}">Add</a>

   
</div>
{% endblock %}
