{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}
<div class='container4'>
    <div class="tableShow">

        <h1>Edit Password</h1>

        {{ form_start(form) }}
              <div class='logdiv'>
                    {{ form_label(form.old_password) }}
                    {{ form_widget(form.old_password) }}
                </div>
                <div class='logdiv'>
                    {{ form_label(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                </div>
                <div class='logdivbtn'>
                    <div class='logdiv'>
                        {{ form_label(form.save) }}
                        
                    </div>
                </div>
        {{ form_end(form) }}
         
    
    </div>
</div>
{% endblock %}
