{% extends 'base.html.twig' %}

{% block title %}Edit Password{% endblock %}

{% block body %}
<div class='container4'>
    <div class="tableShow">

        <h1>Modifier votre mot de passe</h1>
        <div class='Login editPass'>
        {{ form_start(form) }}
              <div class='logdiv'>
                    {{ form_label(form.old_password) }}
                    {{ form_widget(form.old_password) }}
                </div>
                <div class='logdivpass'>
                    {{ form_label(form.plainPassword) }}
                    {{ form_widget(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class='logdivbtn'>
                    <button class="btnGreen btn">{{ button_label|default('Mettre à jour') }}</button>
                </div>
        {{ form_end(form) }}
        </div>
         
    
    </div>
</div>
{% endblock %}
