{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
<div class="adminPage">
    <h2>Liste des Utilisateurs</h2>

    <table class="tableAdmin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                
                <th>Prenom</th>
                <th>Nom</th>
                <th>Image de profil</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
               
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                {% if user.getProfilPicture %}
                    <img src='/uploads/profilPicture/{{ user.profilPicture }}' class="profilPic">
                {% else %}
                    <img src='/img/profil.png' class="profilPic">
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}" class='btnShow bttn'>Voir</a> 
                    {{ include('user/_delete_form.html.twig') }}
                    <a href="{{path("admin_mail_send")}}" class 'btnMail bttn'> Email</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun utilisateurs trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}" class='addNewUser'>Nouvel utilisateur</a>
</div>
<div class="adminPage" >
        <h2>Liste des Projets</h2>

        <table class="tableAdmin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date de debut</th>
                <th>Date de Fin</th>
                
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td class='adminProjDesc'>{{ project.description }}</td>
                <td>{{ project.getDateIn|date("d/m/Y")}}</td>
                <td>{{ project.getDateOut|date("d/m/Y") }}</td>
                
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}" class='btnShow bttn'>Voir</a>
                    <a href="{{ path('project_delete', {'id': project.id}) }}" class ='btnDelete bttn'>Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun projets trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
