{% extends 'base.html.twig' %}
{% block stylesheets %}
            <link rel="stylesheet" href="/scss/style.css"
{% endblock %}

{% block title %}{{ user.firstName }}{% endblock %}

{% block body %}
    <div class="tableShow">
    <h1>{{ user.firstName }} {{ user.lastName }}</h1>
    <h2> Vos informations</h2>

    <table >
        <tbody>
            
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
           
            <tr>
                <th>Prenom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Image de profil</th>
                <td>
                {% if user.getProfilPicture %}
                    <img src='/uploads/profilPicture/{{ user.profilPicture }}' class="profilPic">
                {% else %}
                    <img src='/img/profil.png' class="profilPic">
                {% endif %}  
                </td>
            </tr>
        </tbody>
    </table>

    <div>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
    <a href="{{ path('user_edit_password', {'id': user.id}) }}"> Modifier votre mot de passe</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/js/vanilla-tilt.js"></script>
<script>
    VanillaTilt.init(document.querySelector(".tableShow"), {
		max: 15,
		speed: 100,
        glare : true,
        "max-glare": 1,
	});
</script>
{% endblock %}
